PORT=5000
NODE_ENV=development

# MongoDB Connection String
MONGODB_URI=mongodb://tayabunnesa_db_user:<password>@ac-dnlldoe-shard-00-00.xtjfcuq.mongodb.net:27017,ac-dnlldoe-shard-00-01.xtjfcuq.mongodb.net:27017,ac-dnlldoe-shard-00-02.xtjfcuq.mongodb.net:27017/kheoo?ssl=true&replicaSet=atlas-jkzfw4-shard-0&authSource=admin&appName=Cluster0
